{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <section class="card text-dark m-3">
        <div class="card-header bg-success">
            <h1>Episode {{ episode.title }}<br>Série {{ episode.season.program.title }}</h1>
        </div>
        <div class="media p-3">
            <table class="table table-light table-striped table-bordered mt-3">
                <tbody>
                <tr>
                    <th>Série</th>
                    <td>{{ episode.season.program.title }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ episode.title }}</td>
                </tr>
                <tr>
                    <th>Numéro</th>
                    <td>{{ episode.number }}</td>
                </tr>
                <tr>
                    <th>Synopsis</th>
                    <td>{{ episode.synopsis }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="card text-dark m-3">
        <div class="card-header bg-success">
            <h1 class="mx-auto">COMMENTAIRES</h1>
        </div>
        <div class="media">
            <div class="media-body col-sm-12 col-md-6 p-3">
                <table class="table table-light table-striped table-bordered mt-3">
                    <thead class="thead-dark">
                    <tr>
                        <th>Commentaire</th>
                        <th>Note</th>
                        <th>Auteur</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for comments in episode.comments %}
                    <tr>
                        <td>{{ comments.comment }}</td>
                        <td>{{ comments.rate }}</td>
                        <td>{{ comments.author.email}}</td>
                        <td>
                            {% if app.user.id is defined and (app.user.id == comments.author.id or is_granted('ROLE_ADMIN')) %}
                            <a class="btn btn-danger text-white" href="{{ path('comment_delete', {'id': comments.id}) }}">Supprimer</a>
                            {% endif %}
                        </td>
                    </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
</section>
    {% if app.user %}
        <p>Ajouter un commentaire : </p>
        {{ include('comment/_form.html.twig') }}
    <a class="btn btn-danger" href=javascript:history.go(-1)>Retour à la saison</a>
    {% endif %}
{% endblock %}
